<header>
    <nav class="navbar">
      <ul class="nav-list">
        <!-- place logo later -->
        <li class="nav-item logo">
          <a href="/">Logo</a> <!--replace w image later-->
        </li>
        <li class="nav-item">
          <a href="/">Home</a>
        </li>
        
        <li class="nav-item dropdown">
          <a href="/about">About Us</a>
          <div class="dropdown-content">
            <a href="/about/mission">Our Mission</a>
            <a href="/about/provider">Provider</a>
          </div>
        </li>
        
        <li class="nav-item dropdown">
          <a href="/services">Services</a>
        </li>

        <li class="nav-item dropdown">
          <a href="/billing">Billing and Support</a>
          <div class="dropdown-content">
            <a href="/billing/insurance">Insurance and Fees</a>
            <a href="/billing/forms">Forms</a>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  