<!DOCTYPE html>
<html lang="en">
    <%- include('partials/navbar') %> 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="main.css"> 
</head>
<body>
  <header>
    <h1>Psychiatric Healers</h1>
  </header>
  <main>
    <p>This is the content of the homepage.</p>
  </main>
  <%- include('partials/footer') %> 
</body>
</html>