<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Insurance</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>

<%- include('partials/navbar') %>

<div class="insurance-banner">
  <h1 class="insurance-banner-heading">Insurance</h1>
</div>

<main class="insurance-main-content">
  <section class="insurance-info">
    <h2>Using Your Insurance</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <!-- More content -->
    <p>Copays, deductible, cancellation information</p>
  </section>

  <!-- New section for accepted insurances -->
  <section class="accepted-insurances">
    <h2>Accepted Insurances:</h2>
    <div class="logos-container">
      <!-- Logo placeholders with links to insurance companies' websites -->
      <a href="https://www.ambetterhealth.com/" target="_blank"><img src="/assets/images/logos/ambetter.png" alt="Ambetter"></a>
      <a href="https://www.healthnet.com/content/healthnet/en_us.html" target="_blank"><img src="/assets/images/logos/healthnet.png" alt="Health Net"></a>
      <a href="https://www.aetna.com/" target="_blank"><img src="/assets/images/logos/aetna.png" alt="Aetna"></a>
      <a href="https://www.multiplan.us/" target="_blank"><img src="/assets/images/logos/multiplan.png" alt="MultiPlan"></a>
      <a href="https://www.humana.com/" target="_blank"><img src="/assets/images/logos/humana.png" alt="Humana"></a>
      <a href="https://www.magellanhealth.com/" target="_blank"><img src="/assets/images/logos/magellan.png" alt="Magellan Health"></a>
      <a href="https://www.cigna.com/" target="_blank"><img src="/assets/images/logos/cigna.png" alt="Cigna"></a>
      <a href="https://www.medicare.gov/" target="_blank"><img src="/assets/images/logos/medicare.png" alt="Medicare"></a>
      <a href="https://www.optum.com/" target="_blank"><img src="/assets/images/logos/optum.png" alt="Optum"></a>
      <a href="https://www.tricare.mil/" target="_blank"><img src="/assets/images/logos/tricare.png" alt="Tricare"></a>
      <a href="https://www.carelonbehavioralhealth.com/" target="_blank"><img src="/assets/images/logos/beacon.png" alt="Beacon"></a>
      
    </div>
    <section class="patient-forms">
        <h2>Required Patient Forms</h2>
        <p>Please download and complete the following forms prior to your appointment.</p>
        <ul class="forms-list">
          <li><a href="/assets/pdf/ABN.pdf" target="_blank">ABN Form</a></li>
          <li><a href="/assets/pdf/card_file.pdf" target="_blank">Credit Card Authorization Form</a></li>
          <li><a href="/assets/pdf/consent_form.pdf" target="_blank">Consent Form</a></li>
          <li><a href="/assets/pdf/patient_information.pdf" target="_blank">Patient Information Form</a></li>
        </ul>
      </section>
      
</main>

<%- include('partials/footer') %>

</body>
</html>
